name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  check_if_release_commit:
    runs-on: ubuntu-latest
    outputs:
      is_release: ${{ steps.check_tag.outputs.is_release }}
    steps:
      - name: Checkout code with tags
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check if commit is tagged for release (v*)
        id: check_tag
        run: |
          if git tag --points-at HEAD | grep -q "^v"; then
            echo "Commit is tagged with a 'v*' tag. Build/test steps will be skipped in this workflow."
            echo "is_release=true" >> $GITHUB_OUTPUT
          else
            echo "Commit is NOT tagged with a 'v*' tag. Build/test steps will proceed."
            echo "is_release=false" >> $GITHUB_OUTPUT
          fi
        shell: bash

  android_build:
    runs-on: ubuntu-latest
    needs: check_if_release_commit
    if: needs.check_if_release_commit.outputs.is_release == 'false'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build example Android app
        run: yarn example build:android

  ios_build:
    runs-on: macos-latest
    needs: check_if_release_commit
    if: needs.check_if_release_commit.outputs.is_release == 'false'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Install CocoaPods dependencies
        run: yarn example ios:prebuild

      - name: Build example iOS app
        run: yarn example build:ios:xcode
